body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.square {
  background-color: rgb(218, 208, 209);
  padding: 3em;
  width: 250px;
  height: 250px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.container {
  height: 98vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-item {
  height: 20px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.form-button {
  display:inline-block;
  padding: 0.3em 1.2em;
  margin: 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: white;
  font-size: 15px;
  height: 30px;
  background-color: #4eb5f1;
}

.rememberPass {
  font-size: 11px;
  margin: 10px;
}

.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  color: lightcoral;
}